:host {
  display: inline-block;
  background-color: #fff;
  padding: 0px;
  -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  vertical-align: top;
  min-width: 250px;
  width: 30%;
  max-width: 700px;
  margin-bottom: 20px; }

#card-content ::slotted(*) {
  width: 100%;
  padding: 10px 15px; }

#card-content ::slotted(img) {
  padding: 0; }

@media screen and (max-width: 1024px) {
  :host[columns='2'] .card, :host[columns='3'] .card, :host[columns='4'] .card {
    width: 90%;
    max-width: 400px; } }

:host.picture-left #inner-top .profile-image {
  order: 1; }

:host[theme=blue] .profile-image {
  background: #002E5D; }

:host[theme=gray] .profile-image {
  background: gray; }

#card-content::slotted(*) {
  color: #444; }
